<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/styles.css}" />
	<title>Player</title>
</head>
<body>
	<h1>Player</h1>
	<div>
		<div>
			Pes Id: <span th:tex="*{player.id}"></span>
		</div>
		<div>
			Name : <span th:tex="*{player.name}"></span>
		</div>
		<div>
			Nationality:
			<span th:tex="*{player.nationality.name}"></span>
		</div>
		<a th:href="@{/}">Home</a>
	</div>
</body>
</html>